@import 'tailwindcss';

:root {
	/* Brand Core */
	--p-emerald: #00ee57;
	--p-emerald-dark: #00a343;

	/* Status */
	--status-error: #e63946;
	--status-warn: #ffb703;
	--status-info: #219ebc;
	--status-success: #008f41;

	/* Theme Light */
	--bg-light: #f2faf5;
	--card-light: #ffffff;
	--text-light-main: #061f12;

	/* Theme Dark */
	--bg-dark: #08140e;
	--card-dark: #12261d;
	--text-dark-main: #e0f2e9;
}
